---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="404 — Page Not Found" />
  </head>
  <body>
    <Header />
    <main>
      <h1>404</h1>
      <p><strong>Page not found :(</strong></p>
      <p>The requested page could not be found. <a href="/">Go home →</a></p>
    </main>
    <Footer />
  </body>
</html>
