---
import BlogPost from '../layouts/BlogPost.astro';
---
<BlogPost title="About" date={new Date('2015-03-01')}>
  <h2>tl;dr</h2>
  <p>My name is Alex, and I am a Seattle native.</p>
  <p>Selected links:</p>
  <ul>
    <li>Résumé/CV on <a href="http://www.linkedin.com/in/korbonits">LinkedIn</a></li>
    <li><a href="http://www.twitter.com/korbonits">Twitter</a></li>
    <li><a href="http://www.github.com/korbonits">GitHub</a></li>
    <li><a href="https://www.kaggle.com/korbonits">Kaggle</a></li>
    <li><a href="http://stackoverflow.com/users/3320944/korbonits">Stack Overflow</a></li>
  </ul>
  <h2>warning: greater than 140 characters</h2>
  <p>My LinkedIn <a href="http://www.linkedin.com/in/korbonits">profile</a> is a great place to see a quick summary of my educational, professional, and volunteering background.</p>
  <p>Here's my <a href="http://www.twitter.com/korbonits">Twitter</a>, probably the place I post the most — a reliable chronicle of the kinds of intellectual problems I'm actively thinking about, learning about, and working on.</p>
  <p><strike>This is my first website!</strike> <em>Not true</em>, actually. Does anyone remember AngelFire websites? Back in the <em>day</em>, one of my friends and I built two small-ish websites. We must have been in the 4th grade because that was the year when both Goldeneye and Ocarina of Time came out on N64. We started building walkthroughs.</p>
  <p>This is my first <em>real</em> website, built from scratch (harnessing Jekyll and GitHub Pages), and where I talk about things <em>other</em> than N64 games... most of the time, anyway.</p>
</BlogPost>
