    <div class="wrapper">
      <header>
        <h1><a href="{{ site.url }}"><b>Alex</b></a></h1>
        <p>
        Born and raised in Seattle, WA; Studied Math & Econ at <a href="http://www.uchicago.edu">@UChicago</a>; currently working for <a href="http://www.nuiku.com" target="_blank">Nuiku, Inc.</a> in Redmond, WA.
        </p>

        <a href="http://stackoverflow.com/users/3320944/korbonits">
		<img src="http://stackoverflow.com/users/flair/3320944.png" width="208" height="58" alt="profile for Alex Korbonits at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Nicole White at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
		</a>
		<br><br>
		<p>Me<br>
			<a href="https://github.com/korbonits" target="_blank">GitHub</a><br>
			<a href="https://twitter.com/korbonits" target="_blank">Twitter</a><br>
			<a href="https://www.linkedin.com/in/korbonits" target="_blank">LinkedIn</a><br>
			<a href="mailto:alexkorbonits@gmail.com">Email</a>
		</p>
<!-- 		<p>Name of Section<br>
			<a href="/directory">Directory Name</a><br>
			<a href="/directory">Directory Name</a><br>
			<a href="/directory">Directory Name</a><br>
			<a href="/directory">Directory Name</a>
		</p>
		<p>Name of Section<br>
			<a href="URL" target="_blank">Title</a><br>
			<a href="URL" target="_blank">Title</a><br>
			<a href="URL" target="_blank">Title</a><br>
			<a href="URL" target="_blank">Title</a>
		</p> -->
      </header>